// Customize the colors of Octoflat Here

$primary-color: #c6781d; // Jumbotron, Horizontal Rules, Headings
$secondary-color: #ae1a1e; // Tags, Links, Main Heading, Quote Border
$tertiary-color: #c6781d; // Hover-over color, Active Page color
$accent-color1: #e1353a; // Hover-over background color for tags
$accent-color2: #34495e; // Sub-headings, Date Stamp
$accent-color3: #ffffff; // Navbar Text, Tag text
$bg-color: #ffffff; // Background
$navbar-color: #ae1a1e; // Navbar
$code-bg-color: #2c3e50; // Code background
$quote-color: #e74c3c; // Quote Color
$text-color: #2f3131; // Body Text
$footer-color: #7f8c8d; // Footer

/*
$primary-color:      #e69411; // Jumbotron, Horizontal Rules, Headings
$secondary-color:    #1dbbd6; // Tags, Links, Main Heading, Quote Border
$tertiary-color:     #C0392B; // Hover-over color, Active Page color
$accent-color1:      #23defe; // Hover-over background color for tags
$accent-color2:      #34495E; // Sub-headings, Date Stamp
$accent-color3:      #ffffff; // Navbar Text, Tag text
$bg-color:           #ffffff; // Background
$navbar-color:       #1ec2de; // Navbar
$code-bg-color:      #2C3E50; // Code background
$quote-color:        #E74C3C; // Quote Color
$text-color:         #5a5e5f; // Body Text
$footer-color:       #7F8C8D; // Footer
*/
