// Add your custom styling here.

$header-main-font-size: 30px;
$header-sub-font-size: 20px;
$header-sub-margin: 25px 0 10px 0;
$nav-font-color: #FFF;



li {
  margin: 5px 0;
}

h1.link {
  font-size: $header-main-font-size;
  @media screen and (max-width: 480px) {
    font-size: $header-main-font-size - 5;
  }
  a {
    color: $primary-color;
  }
}

h2 {
  font-size: $header-sub-font-size;
  margin: $header-sub-margin;
  border-bottom: solid 1px #e44a4e;
  code {
    font-size: inherit;
  }
}

h3 {
  font-size: $header-sub-font-size - 2;
  margin: $header-sub-margin;
  border-bottom: solid 1px;
  code {
    font-size: inherit;
  }

}


.jumbotron {
  font-size: $header-main-font-size;
  line-height: 150%;
  margin-top: 10px;
  padding: 0;
  @media screen and (max-width: 480px) {
    font-size: $header-main-font-size - 5;
  }
}

.nav-title {
  font-size: $header-main-font-size;
  line-height: 100%;
  margin-right: $header-main-font-size;
  padding-top: 10px;
  a {
    color: $nav-font-color;
  }
}
.nav-subtitle {
  white-space: nowrap;
  color: $nav-font-color;
}

.navbar .nav {
  li {
    a {
      padding: 10px 15px 10px;
    }
  }
}

blockquote {
  p {
    font-size: 0.9em;
  }
}

strong {
  color: $primary-color;
}

code {
  font-size: inherit;
}
