// Add your custom styling here.


h2 {
  border-bottom: solid 1px #e44a4e;
  margin: 25px 0 10px 0;
}

li {
  margin: 5px 0;
}

$base-font-size: 30px;
$nav-font-color: #FFF;

h1.link {
  font-size: $base-font-size;
  a {
    color: $primary-color;
  }
}

h2 {
  font-size: 20px;
}

.jumbotron {
  font-size: $base-font-size;
  padding: 0;
}

.nav-title {
  font-size: $base-font-size;
  line-height: 100%;
  margin-right: $base-font-size;
  padding-top: 10px;
  a {
    color: $nav-font-color;
  }
}
.nav-subtitle {
  white-space: nowrap;
  color: $nav-font-color;
}

.navbar .nav {
  li {
    a {
      padding: 10px 15px 10px;
    }
  }
}

blockquote {
  p {
    font-size: 0.9em;
  }
}
